.admin{
    overflow: hidden;
    max-height: 100vh;
    height: 100vh;
    background: #D9D9D9;
    box-sizing: border-box;
}
.admin .adminNav{
    height: 60px;
    background: #fff;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    display: flex;
}

.admin .adminNav .left{
    height: 100%;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    gap: 10px;
}

.admin .adminNav .left svg{
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.admin .adminNav .right{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.admin .adminNav .right .profile{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.admin .adminNav .right .profile .menu{
    padding: 10px;
    position: absolute;
    right: 0;
    top: 60px;
    width: 150px;
    background: #fff;
}

.admin .adminNav .right .profile .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
}

.admin .adminNav .right .profile .menu ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}



.admin .adminNav .right .profile .menu ul li:hover{
    
    background-color: #d9d9d94f;
}
.admin .adminNav .right .profile .menu ul li{
    
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    width: 100%;
    text-align: right;
    padding: 10px;
    cursor: pointer;
}


.admin .adminNav .right .profile .icon{
    cursor: pointer;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 200px;
    background-color: #D9D9D9;
}


.admin .container{
    width: 100%;
    display: flex;
    height: 100%;
}

.admin .container .left{
    width: 250px;
    background-color: #fff;
}

.admin .container .left ul{
    width: 100%;
    padding: 40px 20px;
}

.admin .container .left ul li a:hover{
    background-color: #d9d9d94f;
    border-radius: 5px;
    cursor: pointer;
}


.admin .container .left ul li a.active{
    background-color: #d9d9d94f;
}


.admin .container .left ul li{

    list-style: none;
}
.admin .container .left ul li a{
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #121212;
}

.admin .container .left ul li svg{

}

.admin .container .right .product-btn{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.admin .container .right .product-btn a{
    text-decoration: none;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    background: #121212;
    color: #fff;
    cursor: pointer;
}

.admin .container .right{
    width: calc(100% - 250px);
    padding: 20px;
}

.admin .container .right h2{
    font-weight: 550;
    font-size: 30px;
}